:root {
    --blackJS: #323330;
    --yellowJS: #F0DB4F;
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth scroll;
}

body, #btn {
    background-color: var(--yellowJS);
    color: var(--blackJS);
}

.logo {
    width: 50px;
    border-radius: 5%;
}

.header_img {
    width: 250px;
    border-radius: 25%;
}

#forms {
    background-color: var(--blackJS);
    color: var(--yellowJS);
}

#btn {
    border-color: var(--yellowJS);
}


@media (min-width: 768px) {
    .header_img {
        width: 350px;
    }

    form {
        width: 75%;
        padding-left: 325px;
    }
}
